h3 {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

html {
    height: 100%;
    background: linear-gradient(to top left, rgba(190, 59, 99, 0.8), rgba(55, 95, 133, 0.5));
}

.level {
    margin: 3% auto;
}

.service {
    margin-bottom: 0.6rem;
}
