h3 {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

html {
    height: 100%;
    background: linear-gradient(-45deg, rgba(103, 0, 31, .8), rgba(34, 101, 163, .5));
    background-size: cover;
}

body {
    color:black;
}

.level {
    margin: 3% auto;
}

.service {
    margin-bottom: 0.6rem;
}
