{{ define "index" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASU system status</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <script src="../assets/js/services.js"></script>
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <h1 class="title is-4 is-spaced">Мониторинг сервисов АГУ</h1>
            </div>
          </div>
          <div class="level-right">
            <p class="level-item">
              <figure class="image is-96x96">
                <img src="../assets/img/logo.png">
              </figure>
            </p>
          </div>
        </nav>
        <h3 class="title is-6">Что это за сайт?</h3>
        <p style="margin-bottom: 1.5rem">Данный сайт предназначен для проверки работоспособности сервисов АГУ.
          Если что-то горит красным, значит данный сервис недоступен и восстановление уже ведется. Если все огоньки зеленые, значит все
          работает в штатном режиме.
        </p>
        <h3 class="title is-5" style="margin-bottom: 1.4rem">Статус сервисов</h3>
        <p class="service">
          <span id="proxy" class="icon has-text-success">
            <i class="fas fa-circle"></i>
          </span>
          Proxy
        </p>
        <p class="service">
          <span id="proxy_class" class="icon has-text-success">
            <i class="fas fa-circle"></i>
          </span>
          Proxy-class
        </p>
        <p class="service">
          <span id="proxy_kc" class="icon has-text-success">
            <i class="fas fa-circle"></i>
          </span>
          Proxy-kc
        </p>
        <p class="service">
          <span id="proxy_dc" class="icon has-text-success">
            <i class="fas fa-circle"></i>
          </span>
          Proxy-dc
        </p>
        <p class="service">
          <span id="proxy_sc" class="icon has-text-success">
            <i class="fas fa-circle"></i>
          </span>
          Proxy-sc
        </p>
        <p class="service">
          <span id="mail" class="icon has-text-success">
            <i class="fas fa-circle"></i>
          </span>
          Mail in mail.asu.ru
        </p>
        <p class="service">
          <span id="mx" class="icon has-text-success">
            <i class="fas fa-circle"></i>
          </span>
          Mail in mx.asu.ru
        </p>
        <p class="service">
          <span id="web" class="icon has-text-success">
            <i class="fas fa-circle"></i>
          </span>
          Web
        </p>
        <p class="service">
          <span id="vpn" class="icon has-text-success">
            <i class="fas fa-circle"></i>
          </span>
          VPN
        </p>
      </div>
    </div>
  </body>
</html>
{{ end }}
